<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dz.ibnrochd.master14.dao.LigneConsultationMapper">
<resultMap id="ConsultationResultMap" type="Consultation">
  <id property="id" column="id" />
  <result property="motif" column="motif" />
  <result property="dateConsultation" column="date_consultation" />
  <result property="idPatient" column="id_patient" />
</resultMap>


  <select id="findAll" parameterType="dz.ibnrochd.master14.model.LigneConsultation">

    SELECT id, id_consultation, id_traitement, posologie, unite_temps, quantite FROM cabinet.ligne_consultation where true

    <if test="id !=null and  id != ''">
      and id = #{id}
    </if>


  </select>
</mapper>
